<head>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
</head>

<body>
  <input type="checkbox" id="active" [(ngModel)]="isActive" (change)="toggleMenu()">
  <label for="active" class="menu-btn"><span></span></label>
  <label for="active" class="close"></label>

  <div class="wrapper" [ngClass]="{ 'active': isActive }">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Gallery</a></li>
      <li><a href="#">Feedback</a></li>
    </ul>
  </div>

  </body>
