<div class="products-list">
  <div class=“category“>category name</div>
  @for (product of products; track product.id) {
    <div class="product-card">
      <img class="prod-img" src=""/>
      <p class="prod-name">{{product.name}}</p>
      <p class="prod-price">{{product.price}}</p>
      <p class="prod-desc">{{product.desc}}</p>
      <p class="prod-discount">{{products.discount}}</p>
    </div>
  }
</div>
<div>
  @for (item of items; track item.id) {
    <div class="product-card">
      <img class="prod-img" src=""/>
      <p class="prod-name">{{product.name}}</p>
      <p class="prod-price">{{product.price}}</p>
      <p class="prod-desc">{{product.desc}}</p>
      <p class="prod-discount">{{products.discount}}</p>
    </div>
  }
</div>
<div>
  @for (item of items; track item.id) {
    <div class="product-card">
      <img class="prod-img" src=""/>
      <p class="prod-name">{{product.name}}</p>
      <p class="prod-price">{{product.price}}</p>
      <p class="prod-desc">{{product.desc}}</p>
      <p class="prod-discount">{{products.discount}}</p>
    </div>
  }
</div>
<div>
  @for (item of items; track item.id) {
    <div class="product-card">
      <img class="prod-img" src=""/>
      <p class="prod-name">{{product.name}}</p>
      <p class="prod-price">{{product.price}}</p>
      <p class="prod-desc">{{product.desc}}</p>
      <p class="prod-discount">{{products.discount}}</p>
    </div>
  }
</div>
<p>products works!</p>
