.product-image {
  width: 100%; /* Make the image fill its container's width */
}

.product-image img {
  width: 100%; /* Make the image fill its container's width */
  height: auto; /* Maintain aspect ratio */
}


.favorite-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%; /* Makes the button circular */
  padding: 10px; /* Adjust the padding as needed */
}

.favorite-button {
  position: absolute;
  top: 10px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the right position as needed */
  border: none;
}

.favorite-button i {
  color: red; /* Adjust the color as needed */
  font-size: 24px; /* Adjust the size as needed */
}

.favorite-button:hover {
  background-color: lightgray; /* Adjust the hover color as needed */
}

.favorite-button.active {
  color: pink; /* Adjust the active color as needed */
}

